# 上层虚拟环境文件夹（因为你的 git 建在 venv 里面）
../Lib/
../Scripts/
../Include/
../pyvenv.cfg

# Python 编译缓存
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# 日志与临时文件
*.log
*.tmp
*.cache

# 编辑器配置
.vscode/
.idea/
*.swp
*.swo
*~

# Windows 系统垃圾文件
Thumbs.db
Desktop.ini